# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2017 The Linux Foundation

# Ignore Vim temporary files
.*.sw?

# Python
.tox/
__pycache__/
docs/_build/
MANIFEST
*.pyc

# npm / nodejs
_cacache/
anonymous-cli-metrics.json

# Emacs
*~
\.\#*
\#*
