#!/bin/bash
until host gerrit.example.org &>/dev/null
do
    echo "Waiting until gerrit.example.org is resolvable..."
done

git clone --recurse-submodules https://gerrit.example.org/r/ci-management /opt/ciman
/opt/ciman/jjb/global-jjb/jenkins-init-scripts/init.sh
