Name: LF Purge 3 week old SNAPSHOTs
Task Type: Remove Snapshots From Repository
Repository/Group: Snapshots (Repo)
Minimum snapshot count: 0
Snapshot retention (days): 21
Remove if released: True
Grace period after release (days): 21
Delete immediately: True
Recurrence: Daily
